@import "../../../styles/breakpoint";

.main {
  position: fixed;
  left: -100%;
  background-color: white;
  border-radius: 8px;
  height: fit-content;
  max-height: 500px;
  min-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80vw;
  transition: 0.3s all;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  z-index: 8;
  &[data-active="true"] {
    left: 50%;
  }
  @include lg {
    width: max-content;
  }
  svg {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 36px;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &_cover {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.card {
  width: max-content;
  height: fit-content;
  gap: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  @include lg {
    gap: 10px;
    width: 100%;
  }
  :nth-child(4) {
    grid-column: 5/7;
  }
  :nth-child(3) {
    grid-column: 3/5;
  }
}

.button {
  position: fixed;
  top: 20px;
  left: 30px;
  height: 45px;
  width: 45px;
  border-radius: 999px;
  border: none;
  transition: 0.2s all;
  cursor: pointer;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  &::after {
    content: "Track Your Order";
    position: absolute;
    background-color: black;
    color: white;
    font-size: 12px;
    width: max-content;
    padding: 5px;
    border-radius: 8px;
    bottom: -20px;
    opacity: 0;
    transition: 0.2s all;
  }
  &:hover {
    &::after {
      bottom: -32px;
      opacity: 1;
    }
  }
}
